.font{
    font-family: Verdana;
    color: black;
    font-size:20px;
}

body {
    background: rgb(0,255,200);
    /* background: url(images_test/background\ image.png); */
    background: linear-gradient(180deg, rgb(0,130,210) 0%, rgb(155,25,55) 100%);
    /* background:rgb(35, 53, 61); */
    background-repeat:no-repeat;
    background-size: 100%;
    background-position:top;
}
.bg{
    width: 90%;
    height: 2000px;
    display: block;
    position: relative;
    z-index: -2;
    margin-top:-1925px;
    margin-left:80px;
  }

html {
    scroll-behavior: smooth;
   }

.grounded-radiants {
position: relative;
border: 4px solid transparent;
border-radius: 16px;
background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
background-clip: padding-box;
padding: 10px;
box-shadow: 0 3px 9px black, inset 0 0 9px white;
width:fit-content;
height:fit-content;
}

.grounded-radiants::after {
position: absolute;
top: -4px; bottom: -4px;
left: -4px; right: -4px;
background: linear-gradient(rgb(138, 217, 243), rgb(215, 236, 243));
content: '';
z-index: -1;
border-radius: 16px;
}
.grounded-radiants2 {
  position: relative;
  border: 4px solid transparent;
  border-radius: 16px;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-clip: padding-box;
  padding: 10px;
  box-shadow: 0 3px 9px black, inset 0 0 9px rgb(197, 196, 255);
  width:fit-content;
  height:fit-content;
  }
  
  .grounded-radiants2::after {
  position: absolute;
  top: -4px; bottom: -4px;
  left: -4px; right: -4px;
  background: linear-gradient(rgb(145, 138, 243), rgb(215, 138, 243));
  content: '';
  z-index: -1;
  border-radius: 16px;
}

.img_bord{
  position: relative;
  border-radius: 16px;
  background: linear-gradient(rgb(138, 217, 243), rgb(215, 236, 243));
  background-clip: padding-box;
  padding: 10px;
  box-shadow: 0 3px 9px black, inset 0 0 9px white;
  width:fit-content;
  height:fit-content;
  }

.grow{
transition: all .3s ease-in-out;
}

.grow:hover{ 
transform: scale(1.03);
}

.box-pos{
    margin-top:50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top:-8px;
  }

  li {
      display:inline;
    float: left;
    font-size: 25px;
    font-family: Verdana;
    color: gray;
    text-align: center;

  }

  li a {
    display: block;
    padding: 15px;
    background-color: #8b8c89;
    text-decoration: none;
    color:white;
  }

  li a:hover {
    background-color: #ffffff42;
    color: white;
  }

  .nav_bar{
      border: gray;
      background-color: #8b8c89;
  }

  button{
    position: relative;
    border: 4px solid rgb(138, 217, 243);
    border-radius: 16px;
    background: rgb(138, 217, 243);
    background-clip: padding-box;
    padding: 10px;
    box-shadow: 0 3px 9px black, inset 0 0 9px white;
    width:fit-content;
    height:fit-content;
    cursor: pointer;
}

.inner_box_style{
  position: relative;
  border-radius: 16px;
  background-clip: padding-box;
  padding: 10px;
  box-shadow: 0 3px 9px black, inset 0 0 9px white;
  border-radius: 10px;
}

.slides{
  width:500px;
  height:300px;
}

.slidebutton{
  cursor: pointer;
  border: 5px solid transparent;
  border-radius: 3px;
  background: rgb(138, 217, 243);
  box-shadow: 0 3px 9px black, inset 0 0 9px white;
}

.slidebutton:hover{
  background: rgb(112, 177, 199);
}

.slidepos{
  margin-left:250px;
  margin-top:350px;
}

.buttonpos{
  margin-left:450px;
  margin-top:80px;
  display:block;
  width:15px;
  font-size: 25px;
}

.buttonpos2{
  margin-left:525px;
  margin-top:-43.5px;
  display:block;
  width:15px;
  font-size: 25px;
}